body {
  font-family: Arial, sans-serif;
  background: #e2e2e2;
  text-align: center;
  padding: 20px;
}

header {
  background: #46036d;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  margin: 20px auto;
  width: 60%;
  padding: 50px;
}

input {
  width: 70%;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 15px;
  border: none;
  background: #cf90f3;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3a033f;
  color: white;
}

.resposta {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin: 20px auto;
  width: 60%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.resposta table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    background: #2b0033; /* roxo festa da uva */
    color: #fff;
    font-family: Arial, sans-serif;
}

.resposta th, .resposta td {
    padding: 10px;
    border: 1px solid #fff;
    text-align: left;
}

.resposta tr:nth-child(even) {
    background: #3d0052;
}

.resposta th {
    background: #800080;
}
